# importing required liberaries

In [77]:
import nltk
import pandas as pd
import numpy as np
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import math

# getting english stop words

In [78]:
stop_words = set(stopwords.words('english'))

# reading files

In [79]:
file1=open('L:\College_mat\L3_S2_N\ir\project\doc1.txt','r')
file2=open('L:\College_mat\L3_S2_N\ir\project\doc2.txt','r')
file3=open('L:\College_mat\L3_S2_N\ir\project\doc3.txt','r')
file4=open('L:\College_mat\L3_S2_N\ir\project\doc4.txt','r')

doc1=file1.read()
doc2=file2.read()
doc3=file3.read()
doc4=file4.read()

# tokenize files content

In [80]:
corpus=[doc1,doc2,doc3,doc4]
n=len(corpus)
doc1_tokens=doc1.split(' ')
doc2_tokens=doc2.split(' ')
doc3_tokens=doc3.split(' ')
doc4_tokens=doc4.split(' ')

# removing stop words

In [97]:
corpus_list=[doc1_tokens,doc2_tokens,doc3_tokens,doc4_tokens] # list of lists of tokens (docs)
clean_list=[] # carry non stop words docs (list of 4 lists (list for each doc))
for i in range(n):
    clean_list.append([]) # add new list for each doc to carry clean data for that doc
    for word in corpus_list[i] :
        if word not in stop_words :  # excluding stop words 
            clean_list[i].append(word)

In [82]:
doc1_clean=clean_list[0]
doc2_clean=clean_list[1]
doc3_clean=clean_list[2]
doc4_clean=clean_list[3]

corpus_tokens=doc1_tokens+doc2_tokens+doc3_tokens+doc4_tokens  # list of tokens 
corpus_clean=doc1_clean+doc2_clean+doc3_clean+doc4_clean # list of all clean tokens(no stop words)

# stemming clean list

In [83]:
#ps=PorterStemmer()
sno = nltk.stem.SnowballStemmer('english')
stem_list=[] # list of docs stems (list of 4 lists (list for each doc))
for i in range(n):
    stem_list.append([]) # add new list for each doc to carry clean data for that doc
    for word in clean_list[i] : 
            stem_list[i].append(sno.stem(word))

In [84]:
doc1_stem=stem_list[0]
doc2_stem=stem_list[1]
doc3_stem=stem_list[2]
doc4_stem=stem_list[3]

corpus_stem=doc1_stem+doc2_stem+doc3_stem+doc4_stem # list of all corpus stems

In [85]:
words_set = set(corpus_stem)
print('# of words :   ',len(words_set))
print('words : \n', words_set)

# of words :    74
words :
 {'repositories,', 'meta-data', 'usual', 'databases,', 'inform', '\nscienc', 'specifi', 'scienc', 'storage,', 'basi', 'web-bas', 'need', 'hyper\ntextually-network', 'biomed', 'web', 'rapid', 'query.', 'relev', 'natur', 'program', 'collect', 'unstructur', 'databas', 'text,', 'keyword', 'userâ€™', 'search', 'support', 'organization,', 'activ', 'documents,\nsearch', 'free', '(ir)', 'textual', 'materi', 'themselves,', '\nrole', 'literatur', 'engines,', 'stand-alon', 'index', 'information.', '\nsearch', 'technolog', 'foundat', 'vital', 'evalu', 'ir', 'deal', 'search.', 'play', 'comput', 'describ', 'base', 'wide', '\ncontain', 'whether', 'resources.', 'world', 'document', 'softwar', 'research,', 'content-bas', 'system', 'retrieval,', 'obtain', 'relat', 'process', 'retriev', 'within', 'full-text', 'field', '\nresourc', '\nparticular'}

# calculating TF

In [86]:
n_docs = len(corpus)         #Number of docs in the corpus
n_words_set = len(words_set) #Number of unique words in the clean corpus (used to draw data fram)

In [87]:
df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=words_set)
df_tf.index=['doc_1','doc_2','doc_3','doc_4']

In [88]:
n_docs=len(corpus)
for i in range (n_docs):
    words = stem_list[i] # Words in the document
    for w in words :
        df_tf[w][i]=words.count(w)/len(words)

In [89]:
df_tf.style.set_caption('TF')

# calculating IDF

In [90]:
df_idf = pd.DataFrame(np.zeros((1, n_words_set)), columns=words_set)
df_idf.index=['idf']

In [91]:
n_docs=len(corpus)

for w in corpus_stem:
    w_freq=10**-9
    for i in range(n_docs) :
        if float(df_tf[w][i]) > 0 :
            w_freq+=1
        df_idf[w][0]=math.log10(n_docs / w_freq)

In [92]:
df_idf.style.set_caption('IDF')

# calculating TF-IDF

In [93]:
df_tf_idf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=words_set)
df_tf_idf.index=['doc_1','doc_2','doc_3','doc_4']

In [94]:
n_docs=len(corpus)
for i in range (n_docs):
    words = stem_list[i] # Words in the document
    for w in words :
        df_tf_idf[w][i]= df_tf[w][i]*df_idf[w][0]

In [95]:
df_tf_idf.style.set_caption('TF-IDF')